body{box-sizing: border-box; margin: 0}
#container{
	
	min-height: 100vh; 
	width: 70%; 
	margin: 0 auto 0 auto; 
	border-left: solid 1px gray; 
	border-right: solid 1px gray; 
	display: flex;
	justify-content: center;
	items-align: center;
	font-family: 'Open Sans', sans-serif;
}

#event-container{

		Width: 100%;
		margin: auto;
		border: solid 2px #efefef;
		min-height: 600px;
		display: grid;
		grid-template-columns: 1fr 1.6fr;
		grid-template-rows: 1.8fr 1fr;
		justify-items:center;
		align-items: center;
		font-size: 16px;
		
		
}
.match-wrapper{
	
	grid-row: 1;
	grid-column: 2;
	height: 100%;
	width: 95%;
	display: flex;
	row-gap: 10px;
	align-items: start;
	flex-direction: column;
	
	

}
.content-wrapper{
	
	grid-row: 2;
	grid-column: 2;
	height: 90%;
	width: 95%;
	background-color: #e8e8e8;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 10px
	

}
.match-wrapper .name
{
		border-radius: 5px;
		height: 20%;
		width: 100%;
		background-color: #0d4a3e;
		justify-content:center;
		display: flex;
		align-items: center;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
		margin-top: 10px;
		font-size: 1em;
}

.match-wrapper .name h1
{
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 1px;
		font-size: 2em;
}
.match-wrapper .match-content
{
	
	width: 100%;
	height: 70%;
	background-color: #F8F8F8;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	position: relative;
	
}
.match-wrapper .match-content [cat="team"]
{
	width: 35%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}
.match-wrapper .match-content [cat="team"] .i-wrapper
{
	width: auto;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: -20px;
}
.match-wrapper .match-content .team-1[cat="team"] .i-wrapper:before {
    content: "West Ham Utd";
    display: block;
    text-align: center;
    margin-bottom: 10px;
	color: black;
	font-size: 1.3em;
	font-weight: 600;
 }
 .match-wrapper .match-content .team-2[cat="team"] .i-wrapper:before {
    content: "Chelsea";
    display: block;
    text-align: center;
    margin-bottom: 10px;
	color: black;
	font-size: 1.3em;
	font-weight: 600;
 }


.match-wrapper .match-content .m-info
{
	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
	

}


.match-wrapper .match-content .m-info ul
{
	width: 30%;
	
	display: grid;
	
	width: 100%;
	text-align: center;
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin: 0;
	align-items: center;
}

.match-wrapper .match-content .m-info ul li
{
	padding: .6em;
	text-align: center;
	
}
.match-wrapper .match-content .m-info ul li:nth-child(1)
{
		font-size: 1.5em;
		padding-bottom: 0.7em;
}
.match-wrapper .match-content .m-info ul li:nth-child(2)
{
		font-size: 1em;
		padding-bottom: 0.4em;
		
}
.match-wrapper .match-content .m-info ul li:nth-child(3)
{
		font-size: 1em;
		padding-bottom: 0.4em;
}
.match-wrapper .match-content .m-info ul li:nth-child(4)
{
		text-align: center;
}


.match-wrapper .match-content .m-info ul li:nth-child(4) span
{
		background-color: #0d4a3e;
		color: #fff;
		padding: .3em .5em .3em .5em;
		border-radius: 5px;
}

.category-game
{
	position: absolute;
	left: .5rem;
	top: .7em;
	letter-spacing: 1px;
	font-size: 1em;
	color: #0d4a3e;
	font-weight: 700;
}
.content-wrapper
{
	   
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		
}
.content-wrapper .line-wrapper
{
		height: 10%;
		width: 80%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		border-radius: 10px;
		margin-bottom: 0.5rem;
		position: relative;
}
.content-wrapper .line-one
{
		height: 100%;
		width: 60%;
		background-color: #0d4a3e;
		margin: 0;
		border-radius: 10px 0 0 10px;
		position: relative;
}
.content-wrapper .line-one:hover:after
{
		content: "";
		position: absolute;
		visibility: visible;
		background-color: rgba(13, 74, 62, 0.5);
		padding: 5px;
		top: 100%;
		left: 20%;
		width: 100px;
		height: 20px;
		
	
}
.content-wrapper .line-two:hover:after
{
		content: "";
		position: absolute;
		visibility: visible;
		background-color: rgba(13, 74, 62, 0.5);
		padding: 5px;
		top: 100%;
		right: 20%;
		width: 100px;
		height: 20px;
	
}
.content-wrapper .line-two
{
		height: 100%;
		width: 40%;
		background-color: #0d4a3e;
		opacity: 0.5;
		margin: 0;
		border-radius: 0 10px 10px 0;
		position: relative;
		
}
.content-wrapper .odds
{
		height: 30%;
		width: 80%;
		background: linear-gradient(90deg, rgb(2, 89, 68,0.2), rgba(218, 245, 238, 0.9),rgb(2, 89, 68,0.2));
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 10%;
}

.content-wrapper .odds .odd-wrapper
{
		
		background-color: #fff;
		padding: .5em 2em .5em 2em;
		border-radius: 5px;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		font-weight: 700;
		disaply: flex;
		flex-direction: column;
		items-align: stretch;
		
}

.content-wrapper .odds .odd-wrapper .odd-name
{
			width: 100%;
			text-align: center;
			font-size: .7rem;
			padding: 0 0 .06rem 0;
			color: gray;
			
}

.content-wrapper .desc
{
		min-height: 20px;
		width: 80%;
		
		display: flex;
		justify-content: space-between
		
}
.content-wrapper .desc span
{
	margin-left: 1rem;
	color: #0d4a3e;
	font-weight: 600;
}


.content-wrapper .desc span[att="first"]
{
	margin-left: 1rem;
	padding: .2rem;
}
.content-wrapper .desc span[att="second"]
{
	margin-right: 1rem;
	padding: .2rem;
}

#odds-header
{
		margin-bottom: 1rem;
		color: #0d4a3e;
		font-weight: 600;
		font: 1rem;
}


#event-container #main-odds-wrapper
{
	grid-row: 1/3;
	grid-column: 1;
	width: 95%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1.5fr 1fr;
	justify-content: center;   
	align-content: center;   
    align-items: start; 
	margin-left: auto;
	
}
#event-container #main-odds-wrapper #odds-table
{
	display: table;
	table-layout: auto;
	background-color: #F8F8F8;
	box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
	border: none;
	border-collapse: collapse;
	height: 90%;
	margin-top: 10px;
	
	
}
#event-container #main-odds-wrapper #odds-table .t-head
{
	display: table-row;
	height: 10%;
	font-weight: 700;
	
	
}
#event-container #main-odds-wrapper #odds-table .t-head .t-head-cell[cat="main"]
{
	display: table-cell;
	background-color: #0d4a3e;
	text-align: center;
    vertical-align: middle;
	color: #fff;
	width: 40%;
	border-radius: 5px 0 0 0px;

	
}
#event-container #main-odds-wrapper #odds-table .t-head .t-head-cell:not([cat="main"])
{
	display: table-cell;
	background-color: #0d4a3e;
	text-align: center;
    vertical-align: middle;
	color: #fff;
	border: none;
	width: 17%;
	
	
}
#event-container #main-odds-wrapper #odds-table .t-head .t-head-cell[cat="end"]
{
	border-radius: 0 5px 0px 0;
	
	
}
#event-container #main-odds-wrapper #odds-table .t-row
{
	display: table-row;
	width: 100%;
	height: 15%;
	
}
#event-container #main-odds-wrapper #odds-table .t-row .t-logo
{
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto 0 auto;
	height: 100%;
	text-align: left;
	display: flex;
	align-items: center;
	line-height: 10%;
	
}
#event-container #main-odds-wrapper #odds-table .t-row .t-odds
{
	display: table-cell;
	width: auto;
	height: 2rem;
	text-align: center;
	
	

	
}
#event-container #main-odds-wrapper #odds-table .t-row .t-odds div
{
	height: inherit;
	background-color: #fff;
	display: inline-block;
	border-radius: 5px;
	box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
	font-weight: 700;
	height: 90%;
	width: 90%;
	display:flex;
	margin: 0 auto 0 auto;
	justify-content: center;
	align-items: center;
	line-height: 90%;
	
}
#event-container #main-odds-wrapper #odds-table .t-row .t-logo span
{
	
	font-weight: 600;
	font-size: .7rem;
}
#event-container #main-odds-wrapper #odds-table .t-row .t-logo img
{
	height: 60px;
	width: 60px;
    vertical-align: middle;
	margin-left: 5px;
	
}
#event-container #main-odds-wrapper #odds-table .t-row .t-logo div
{
	
	margin-right: 10px;
	
}


#other
{
	
	display: grid;
	grid-row:  2;
    grid-column: 1;
	height: 95%;
	width: 100%;
	background-color: #e8e8e8;
	border-radius: 5px;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3,1fr);
	box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;

}
#other .other-match-wrapper
{

	grid-row: span 1;
	grid-column: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 1em;
}
#other .other-match-wrapper .league
{
	position: absolute;
	top:0;
	left: 0;
	background-color: #0d4a3e;
	padding: .4em .8em .4em .8em;
	color: #ffff;
	font-size: .6em;
}
#other .other-match-wrapper .other-name
{
	width: 100%;
	text-align: center;
	font-size: .8em;
	font-weight: 600;
}



 #other .today-item__rate {
	 
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     width: 90%;
     position: relative;
    
	 
}


 .today-item__rate .rate_elem {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     padding: 1px 0px 1px 0px;
     color: #fff;
     font-size: 0.8em;
}
 .today-item__rate .x1 {
     height: 100%;
     position: relative;
     background-color: #0d4a3e;
     border: 1px solid #fff;
}
 .today-item__rate .x1__label {
     position: absolute;
     top: 50%;
     transform: translateX(-50%);
     padding: 3px 5px 3px 5px;
      background-color: rgba(13, 74, 62, 0.5);
     color: #fff;
     font-size: 0.8rem;
     opacity: 0;
}
 .x1:hover > .x1__label {
     opacity: 1;
}
 .today-item__rate .draw {
     height: 100%;
     position: relative;
}
 .today-item__rate .draw__label {
     position: absolute;
     top: 50%;
     transform: translateX(-50%);
     padding: 3px 5px 3px 5px;
     background-color: rgba(13, 74, 62, 0.5);
     color: #fff;
     font-size: 0.8rem;
     opacity: 0;
}
 .draw:hover > .draw__label {
     opacity: 1;
}
 .today-item__rate .x2 {
     height: 100%;
     position: relative;
     background-color: rgba(13, 74, 62, 0.5);
     border: 1px solid #fff;
}
 .today-item__rate .x2__label {
     position: absolute;
     top: 50%;
     transform: translateX(-50%);
     padding: 3px 5px 3px 5px;
     background-color: rgba(13, 74, 62, 0.5);
     color: #fff;
     font-size: 0.8rem;
     opacity: 0;
}
 .x2:hover > .x2__label {
     opacity: 1;
}
 .shadow {
     opacity: 0.7;
}




@media screen and (max-width: 1400px)
{
		#event-container{

			
			grid-template-columns: 1fr;
			grid-template-rows: .55fr .4fr 1fr;
			align-items: center;
			justify-items: center;
			
		}
		.match-wrapper{
	
			grid-row: 1;
			grid-column: 1;
			height: 100%;
			width: 95%;
			display: flex;
			justify-content:end;
			align-items: start;
			flex-direction: column;
			

		}
		.match-wrapper .match-content{
	
				height: 85%;

		}
		.content-wrapper{
	
			grid-row: 2;
			grid-column: 1;
		
		}
		.match-wrapper .name
		{
			height: 15%;
		}

		#event-container #main-odds-wrapper
		{
			grid-row: 3;
			grid-column: 1;
			margin-left: 0;
			min-height: inherit;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1.5fr 1fr;
			
		
		}
		#event-container #main-odds-wrapper #odds-table .t-head
		{
			
			height: 10%;
			
			
		}
		#event-container #main-odds-wrapper #odds-table .t-row[att="first"]
		{
			
			  
			
			
		}
		#event-container #main-odds-wrapper #odds-table .t-row .t-logo img
		{
			
			height: 70px;
			width: 70px;
		
		}
		#event-container #main-odds-wrapper #odds-table .t-row .t-odds div
		{
			
			height: 80%;
			width: 85%;
		
			
		}
		
		

}
@media screen and (max-width: 800px)
{

	#event-container
	{

		font-size: 14px;
		
		
	}
	#event-container #main-odds-wrapper #odds-table .t-row .t-logo img
	{
			
		height: 60px;
		width: 60px;
		
	}	

}
@media screen and (max-width: 700px)
{

	#event-container
	{

		font-size: 12px;
		
		
	}
		
	
	
}